[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
jinja2 = "*"
requests = "*"
atomicwrites = "*"
python-multipart = "*"

[dev-packages]

[requires]
python_version = "3.8"

[scripts]
app = "uvicorn src.app.main:app"
devmode = "uvicorn src.app.main:app --reload"
tests = "python3 -W ignore:warnings -m unittest -v"
