<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body class="container">
        <header class="section">
            <nav class="navbar is-white is-transparent">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item is-size-4 has-text-weight-bold">Logo</a>
                    <a role="button" class="navbar-burger" data-target="header-navbar">
                      <span></span>
                      <span></span>
                      <span></span>
                    </a>
                </div>
                <div id="header-navbar" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <a href="/" class="button is-light is-link">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="home"></ion-icon>
                                    </span>
                                    <span>Startside</span>
                                </span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a href="/items" class="button is-light is-warning">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="american-football"></ion-icon>
                                    </span>
                                    <span>Antikviteter</span>
                                </span>
                            </a>
                        </div>
                        {% if user and (user["role"] == "SELLER" or user["role"] == "PLATFORM_OWNER") %}
                        <div class="navbar-item">
                            <a href="#" class="button is-light is-success">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="add"></ion-icon>
                                    </span>
                                    <span>Ny annonse</span>
                                </span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a href="#" class="button is-light is-primary">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="albums"></ion-icon>
                                    </span>
                                    <span>Mine annonser</span>
                                </span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="navbar-end">
                        {% if user %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <ion-icon name="user-outline"></ion-icon>
                                        </span>
                                        <span>{{ user.username }}</span>
                                    </span>
                                </div>
                                <div class="navbar-dropdown is-right is-boxed">
                                    <a href="/api/users/logout" class="navbar-item">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <ion-icon name="log-out-outline"></ion-icon>
                                            </span>
                                            <span>Logg ut</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <ion-icon name="log-in-outline"></ion-icon>
                                        </span>
                                        <span>Logg inn</span>
                                    </span>
                                </div>
                                <div class="navbar-dropdown is-right is-boxed">
                                    <a class="navbar-item fake-login-btn" data-target="SELLER">Forhandler</a>
                                    <a class="navbar-item fake-login-btn" data-target="PLATFORM_OWNER">Plattformeier</a>
                                    <a class="navbar-item fake-login-btn" data-target="END_USER">Sluttbruker</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <main class="section pt-0">
            {% block content %}{% endblock %}
        </main>
        <footer class="section">
            <div class="content">
                <p>
                    <span class="has-text-weight-bold">Logo</span> |
                    prototype for et antikvitetsmarked
                </p>
                <small>Laget av gruppe 21 ved HiØ</small>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </body>
</html>
