<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}">
    </head>
    <body class="container">
        <header class="section">
            <article class="message is-link">
                <div class="message-body">
                    Du ser siden som <strong>forhandler</strong>
                </div>
            </article>
            <nav class="navbar is-white">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item is-size-4 has-text-weight-bold">Logo</a>
                    <a role="button" class="navbar-burger" data-target="header-navbar">
                      <span></span>
                      <span></span>
                      <span></span>
                    </a>
                </div>
                <div id="header-navbar" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Endre brukertype
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="#">
                                    Plattformeier
                                </a>
                                <a class="navbar-item" href="#">
                                    Forhandler
                                </a>
                                <a class="navbar-item" href="#">
                                    Sluttbruker
                                </a>
                            </div>
                        </div>
                        <a href="/items" class="navbar-item">Antikviteter</a>
                        <a href="#" class="navbar-item">Link 2</a>
                        <a href="#" class="navbar-item">Link 3</a>
                        <a href="#" class="navbar-item">Link 4</a>
                    </div>
                    <div class="navbar-end">
                        <div class="navbar-item">
                            <a href="#" class="button is-light is-link">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="add"></ion-icon>
                                    </span>
                                    <span>Ny annonse</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <main class="section pt-0">
            {% block content %}{% endblock %}
        </main>
        <footer class="section">
            <div class="content">
                <p>
                    <span class="has-text-weight-bold">Logo</span> |
                    prototype for et antikvitetsmarked
                </p>
                <small>Laget av gruppe 21 ved HiØ</small>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script src="{{ url_for('static', path='/script.js') }}"></script>
    </body>
</html>
