{% extends 'base.html' %}
{% block content %}
    <section class="section">
        Dette er bids.html
    </section>
    <section class="section">
        Dette er er budene:
        <div class="columns">
            <div class="column">
                <ul>
                {% for bid in bids|reverse %}
                    <article class="notification">
                        Høyeste bud:{{ bid.bid_value}}<br> itemid:{{ bid.item_id }}
                    </article>
                {% endfor %}
                 </ul>
            </div>
        </div>
    </section>
{% endblock %}