{% extends 'base.html' %}
{% block content %}
    <section class="section">
        Dette er bids.html
        <div>
            <button> verdifiser bud</button>
        </div>
    </section>
    <section class="section">
        Dette er er budene:
        <div class="columns">
            <div class="column">
                <ul>
                    {% for bid in bids|reverse %} 
                    {%if bid.item_id == 1 %}
                    <article class="notification">
                        Høyeste bud:{{ bid.bid_value}}<br> itemid:{{ bid.item_id }}
                    </article>
                    {%endif%}
                    {%endfor%}
                 </ul>
            </div>
        </div>
    </section>
{% endblock %}