{% extends 'base.html' %}
{% block content %}
    <section class="section">
        Dette er items.html
    </section>
    <section class="section">
        Dette er er antikvitetene:
        <div class="columns">
            <div class="column">
                {% for item in items %}
                    <article class="notification">
                        {{ item.name }} {{ item.price }}kr. Varighet {{ item.auction_time }} dager.
                        <p>{{ item.description }}</p>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
