{% extends 'base.html' %}
{% block content %}
    <section class="section">
        <article class="columns">
            <div class="column">
                <figure class="image is-4by3 has-background-dark">
                    <img src="{{ item.pictures[0] }}" alt="{{ item.name }}" class="keeps-aspect-ratio">
                </figure>
            </div>
            <div class="column">
                <h1 class="title is-1">{{ item.name }}</h1>
                <h2 class="subtitle is-1 has-text-weight-bold has-text-grey">{{ item.price }} kr</h2>
                <ul class="mb-6">
                    <li class="my-2">
                        <span class="icon-text">
                            <span class="icon">
                                <ion-icon name="location-outline"></ion-icon>
                            </span>
                            <span>Fredrikstad</span>
                        </span>
                    </li>
                    {% if item.is_auction > 0 %}
                        <li class="my-2">
                            <span class="tag is-medium is-light is-success">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="cash-outline"></ion-icon>
                                    </span>
                                    <span>Høyeste bud hittil {{ item.price }} kr</span>
                                </span>
                            </span>
                        </li>
                        <li class="my-2">
                            <span class="tag is-medium is-light is-warning">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="hourglass-outline"></ion-icon>
                                    </span>
                                    <span>Auksjonen varer til {{ item.auction_time }} kr</span>
                                </span>
                            </span>
                        </li>
                    {% endif %}
                </ul>
                <p class="block">{{ item.description }}</p>
                <form class="field has-addons" action="api/bids/{{ item.id }}" method="post">
                    {% if item.is_auction > 0 %}
                        <div class="control has-icons-left">
                            <input class="input is-medium is-light" type="number" min="{{ item.price + 1 }}" value="{{ item.price + 1 }}" placeholder="Bud">
                            <span class="icon is-left">kr</span>
                        </div>
                        <div class="control">
                            <button type="submit" class="button is-medium is-light is-success">Legg inn bud</button>
                        </div>
                    {% else %}
                        <div class="control">
                            <button type="submit" class="button is-medium is-light is-success">Kjøp</button>
                        </div>
                    {% endif %}
                </form>
            </div>
        </article>
    </section>
{% endblock %}
