<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
        <style>

            .navbar-item:hover {
                color: #000000 !important;
            }

            .keeps-aspect-ratio {
                margin: 0 auto !important;
                width: auto !important;
                height: 100% !important;
            }

        </style>
    </head>
    <body class="container">
        <header class="section">
            <nav class="navbar is-white is-transparent">
                <div class="navbar-brand">
                    <a href="/" class="navbar-item is-size-4 has-text-weight-bold">Logo</a>
                    <a role="button" class="navbar-burger" data-target="header-navbar">
                      <span></span>
                      <span></span>
                      <span></span>
                    </a>
                </div>
                <div id="header-navbar" class="navbar-menu">
                    <div class="navbar-start">
                        <div class="navbar-item">
                            <form class="field has-addons" action="/search" method="get">
                                <div class="control">
                                    <input type="text" name="input" class="input is-black" placeholder="F.eks. bord ..." required>
                                </div>
                                <div class="control">
                                    <button type="submit" class="button is-black">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <ion-icon name="search-outline"></ion-icon>
                                            </span>
                                            <span>Søk</span>
                                        </span>
                                    </button>
                                </div>
                            </form>
                        </div>
                        <div class="navbar-item">
                            <a href="/" class="button is-light is-link">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="home"></ion-icon>
                                    </span>
                                    <span>Startside</span>
                                </span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a href="/listings" class="button is-light is-warning">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="american-football"></ion-icon>
                                    </span>
                                    <span>Antikviteter</span>
                                </span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a href="/receipts" class="button is-light is-info">
                                <span class="icon-text">
                                    <span class="icon">
                                        <i class="fas fa-info-circle"></i>
                                    </span>
                                    <span>Tidligere kjøp</span>
                                </span>
                            </a>
                        </div>
                        {% if request.state.current_user and (request.state.current_user.get_class_name() in ["Admin", "Seller"]) %}
                        <div class="navbar-item">
                            <a href="/listings/new" class="button is-light is-success">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="add"></ion-icon>
                                    </span>
                                    <span>Ny annonse</span>
                                </span>
                            </a>
                        </div>
                        <div class="navbar-item">
                            <a href="/listings/my" class="button is-light is-primary">
                                <span class="icon-text">
                                    <span class="icon">
                                        <ion-icon name="albums"></ion-icon>
                                    </span>
                                    <span>Mine annonser</span>
                                </span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                    <div class="navbar-end">
                        {% if request.state.current_user %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <ion-icon name="person-outline"></ion-icon>
                                        </span>
                                        <span>{{ request.state.current_user.username }}</span>
                                    </span>
                                </div>
                                <div class="navbar-dropdown is-right is-boxed">
                                    <a href="/api/users/logout" class="navbar-item">
                                        <span class="icon-text">
                                            <span class="icon">
                                                <ion-icon name="log-out-outline"></ion-icon>
                                            </span>
                                            <span>Logg ut</span>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        {% else %}
                            <div class="navbar-item has-dropdown is-hoverable">
                                <div class="navbar-link">
                                    <span class="icon-text">
                                        <span class="icon">
                                            <ion-icon name="log-in-outline"></ion-icon>
                                        </span>
                                        <span>Logg inn</span>
                                    </span>
                                </div>
                                <div class="navbar-dropdown is-right is-boxed">
                                    <a class="navbar-item fake-login-btn" data-target="SELLER">Forhandler</a>
                                    <a class="navbar-item fake-login-btn" data-target="ADMIN">Administrator</a>
                                    <a class="navbar-item fake-login-btn" data-target="BUYER">Sluttbruker</a>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </header>
        <main class="section pt-0">
            {% block content %}{% endblock %}
        </main>
        <footer class="section">
            <div class="content">
                <p>
                    <span class="has-text-weight-bold">Logo</span> |
                    prototype for et antikvitetsmarked
                </p>
                <small>Laget av gruppe 21 ved HiØ</small>
            </div>
        </footer>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        <script>

            var burgers = document.querySelectorAll(".navbar-burger");

            burgers.forEach(burger => {
                burger.addEventListener("click", () => {
                    burger.classList.toggle("is-active");

                    var target = document.getElementById(burger.dataset.target);
                    target.classList.toggle("is-active");
                });
            });

            var fakeLoginBtns = document.querySelectorAll(".fake-login-btn");

            fakeLoginBtns.forEach(fakeLoginBtn => {
                fakeLoginBtn.addEventListener("click", () => {
                    const userType = fakeLoginBtn.dataset.target;
                    let formData = new FormData();

                    switch (userType) {
                        case "SELLER":
                            formData.append('username', 'enForhandler');
                            formData.append('password', 'abc123456');

                            break;

                        case "ADMIN":
                            formData.append('username', 'enAdministrator');
                            formData.append('password', 'abc123456');

                            break;

                        case "BUYER":
                            formData.append('username', 'enSluttbruker');
                            formData.append('password', 'abc123456');

                            break;
                    
                        default:
                            return null;
                    }

                    fetch("/api/users/login", {
                        body: formData,
                        method: "post"
                    }).then(res => {
                        window.location.href = res.url
                    });
                });
            });

        </script>
    </body>
</html>
