{% extends 'base.html' %}
{% block content %}
    <section class="section">
        <div class="columns is-multiline is-mobile">
            <div class="column is-narrow">
                <aside class="column is-vcentered">
                    <div class="column">
                        <label class="checkbox">
                            <input type="checkbox">
                            Alpabetisk 
                        </label>
                    </div>
                    <div class="column">
                        <label class="checkbox">
                            <input type="checkbox">
                            Lavest pris
                        </label>
                    </div>
                    <div class="column">
                        <label class="checkbox">
                            <input type="checkbox">
                            Høyest pris
                        </label>
                    </div>
                    <div class="column">
                        <label class="checkbox">
                            <input type="checkbox">
                            Nyest 
                        </label>
                    </div>
                    <div class="column">
                        <label class="checkbox">
                            <input type="checkbox">
                            Eldste 
                        </label>
                    </div>
                </aside>
            </div>
            <div class="column">
        <div class="tile is-ancestor is-flex-wrap-wrap">
            {% if listings|length > 0 %}
                {% for listing in listings %}
                    <div class="tile is-parent is-4">
                        <article class="tile is-child box">
                            <article class="card">
                                <div class="card-image">
                                    <figure class="image is-4by3 has-background-white">
                                        <img src="{{ listing.get_pictures()[0] }}" alt="{{ listing.get_title() }}" class="keeps-aspect-ratio">
                                    </figure>
                                </div>
                                <div class="card-content">
                                    <h2 class="title is-4">{{ listing.get_title() }}</h2>
                                    <h3 class="subtitle is-4 has-text-weight-bold has-text-grey">{{ listing.get_price() }} kr</h3>
                                </div>
                                <div class="card-footer">
                                    <div class="card-footer-item">
                                        <a href="/listings/{{ listing.id }}" class="button is-light is-black is-fullwidth">Se mer</a>
                                    </div>
                                </div>
                            </article>
                            <form class="field has-addons" action="/api/listings/{{ listing.id }}" method="post">
                                <div class="control">
                                    <button type="submit" class="button is-medium is-light is-danger">slett anonse</button>
                                </div>
                            </form>
                        </article>
                    </div>
                {% endfor %}
            {% else %}
                <h1 class="title">Fant ingen annonser.</h1>
            {% endif %}
        </div>
        </div>
        </div>
    </section>
{% endblock %}
