{% extends 'base.html' %}
{% block content %}
    <section class="section">
        <form action="/api/receipt/{#{ new_listing.id }#}" method="set">
            <div class="field">
                <p class="subtitle">{#{ listing.set_title() }ikke med noen av dem#} Titel</p>
                <div class="control">
                    <input class="input" type="text" placeholder="Titel: eks.Tesett">
                </div>
            </div>
            <div class="field">
                <p class="subtitle">{#{ listing.set_price() }#} Pris</p>
                <div class="control">
                    <input class="input" type="text" placeholder="pris: NOK">
                </div>
            </div>
            <div class="field">
                <p class="subtitle">{#{ listing.set_description() } #} Beskrivelse</p>
                <div class="control">
                    <textarea class="textarea" placeholder="iformasjon om produktet"></textarea>
                </div>
            </div>
            <div class="field">
                <p class="subtitle">{#{ listing.set_pictures }#} Bilde </p>
                <div class="file has-name">
                    <label class="file-label">
                      <input class="file-input" type="file" name="resume">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Legg inn bilde
                        </span>
                      </span>
                      <span class="file-name">
                        filname.png/jpg
                      </span>
                    </label>
                </div>
            </div>
            <div class="control">
                <button class="button is-success">post anonse</button>
            </div>
        </form>
    </section>
{% endblock %}
