{% extends 'base.html' %}
{% block content %}
    <section class="section">
        <h1 class="title is-1">Dine kvitteringer</h1>
            <div class="tile is-ancestor is-flex-wrap-wrap">
                {% if receipts|length > 0 %}
                    {% for receipt in receipts %}
                        <div class="tile is-child box">
                            <ul>
                                <li>Varenavn: {{ receipt.get_title() }}</li>
                                <li>Pris: {{ receipt.get_price() }},- NOK</li>
                                <li>Kjøpt dato: {{ receipt.get_date() }}</li>
                            </ul>
                        </div>
                    {% endfor %}
                {% else %}
                <h1 class="title">Du har ingen kvitteringer</h1>
                {% endif %}
            </div>
    </section>
{% endblock %}